h4{
     color:#3F51B5;
     text-align: center;
}
.articulo{
     text-align: justify;
}
.articulo h4{
     text-align: left;

}
.foot{
     height: 100px;
     width: 100%;
}
.clickeable{
     cursor: pointer;
}

.sinpadding{
     padding-left: 0;
     padding-right: 0;
}
