<div class="card col-md-12">
     <div class="row center-xs">
          <h4 class="col-md-8 text-center">Busque el articulo de su agrado</h4>
          <mat-form-field class="col-md-8" >
               <input matInput type="text" (keydown)="filtrar($event)" placeholder="Introduzca su busqueda" [(ngModel)]="value">
               <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value='';limpiar()">
                        <mat-icon>close</mat-icon>
               </button>
          </mat-form-field>
          <div class="col-md-8">
               <div class="row center-xs middle-xs">
                    <button class="col-md-4" style="height:50px;" mat-raised-button color="primary" [routerLink]="['/new']"><mat-icon>add</mat-icon>Crear Articulo</button>
               </div>
          </div>
     </div>
</div>
