<div class="roboto middle-xs center-xs row">
     <div class="card col-md-10">
          <h2  class="pacifico">{{articuloService.selectedArticulo.title}}</h2>
          <div class="row center-xs">
               <hr class="col-md-10">
               <p class="col-md-10">
                    {{articuloService.selectedArticulo.content}}
               </p>
          </div>
          <div class="col-md-12">
               <button mat-raised-button [routerLink]="['/new']" class="float" color="primary"><mat-icon>edit</mat-icon> Editar</button>
               <button mat-raised-button [routerLink]="['/inicio']" class="float" color="primary" (click)="deselectArticulo()"><mat-icon>home</mat-icon> Volver</button>
          </div>
     </div>
     <div class="foot col-md-10"></div>
</div>
